.global {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 30px;
  }

.form_size{
    width: 60%;
}

.sub_title{
    margin-top: 10px; 
    text-decoration: underline;
}

.block_code{
    margin-top: 25px; 
    border: 2px;    
    padding: 10px;
    box-sizing: border-box;
    border-style: solid;

}

.table_us{
}

.drop_down_button{
 margin-bottom: 10px; 

}